/* import the Mention dependency styles */
/* @import "../node_modules/@syncfusion/ej2-base/styles/bootstrap5.css";
@import "../node_modules/@syncfusion/ej2-react-dropdowns/styles/bootstrap5.css"; */
/* @import url('https://cdn.syncfusion.com/ej2/20.3.56/bootstrap5.css'); */

div#inputMention[placeholder]:empty:before {
    content: attr(placeholder);
    color: #555;
}
div#inputMention_popup {
    /* top: 0 !important;
    bottom: 0 !important; */
    position: absolute;
    bottom: -10px !important;
}